body {
  margin: 0;
  background-color: rgb(20, 20, 20);
}

#root {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.container {
  background-color: black;
  width: 25%;
  margin: 1em;
  border-radius: 10px;
}
.container:hover {
  background-color: #1f0101;
  box-shadow: 5px 10px 10px 5px rgb(10, 10, 10);
}
.name {
  display: flex;
  justify-content: center;
  color: rgb(122, 73, 73);
  font-size: x-large;
  font-family: serif;
  font-weight: 550;
  background-color: black;
}
.episodeCode {
  color: rgb(170, 170, 170);
  margin-left: 1em;
}
.summaryP {
  color: rgb(100, 100, 100);
  margin: 1em;
  font-family: sans-serif;
  text-align: justify;
  font-size: medium;
}
.summaryTag {
  display: flex;
  justify-content: center;
  color: rgb(122, 73, 73);
  font-size: medium;
  font-family: Helvetica, sans-serif;
  font-weight: 550;
  background-color: black;
}
.divImg {
  display: flex;
  justify-content: center;
}
